/* style sheet */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#body{
  background-color: #373737;

}
#body-text{
  color: white;

}

#company {
  color:white;
}

#image {
  position: static;
}

#gallery{
  background-color: #373737;
}

#gallery-text{
  color:white;
}

#footer {
    background-color:#080808;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
#footer-text{
  position: absolute;
  bottom:5px;
  color:white;
  font-family:Helvetica Neue;
  font-size: 12px;
}
